<h1> Welcome to The Store </h1>
<h3>stay a while... </h3>
<br>
<% @inventory.each_with_index do |item, i| %>

  <h2><%= item.name%>: $<%= item.price %> </h2>
  <img src="<%= item.image %>">
  <h4>- <%= item.description %></h4>
  <br>
<% end %>


